.env
package-lock.json
/node_modules

images/gen0/*
!images/gen0/

mdata/gen0/*
!mdata/gen0/

layers/bottom/*
!layers/bottom/

layers/top/*
!layers/top/

layers/skin/*
!layers/skin/

layers/mid/*
!layers/mid/

layers/utils/*
!layers/utils/